<!-- Add you custom twig html here -->

{#
Variables
node_print: Array, contiene los valores para imprimir en la plantilla, contiene los siguientes registros:
  'path_alias' el alias url de la ruta del nodo
  'title' el titulo del nodo
block_title: El titulo de la lista
nodes: Los objetos de los nodos de node print.


<h3>{{ block_title }}</h3>
<ul>

  {% for node in nodes_print %}
    <li>
      <a href="{{ node.path_alias }}">
        {{ node.title }}
      </a>
    </li>
  {% endfor %}
</ul>
#}
